.textbox {
  position: relative;
  width: 100%;
  /* min-height: 220px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea {
  min-height: 220px;
  font-size: 16px;
  padding: 4px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: none;
  min-height: 100px;
  box-sizing: border-box;
}

.counter {
  position: relative;
  height: 0px;
  color: #777777;
  font-size: 8px;
  bottom: 28px;
  right: 8px;
  text-align: right;
}
