.textbox {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea {
  padding: 4px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  resize: none;
  min-height: 100px;
  box-sizing: border-box;
}

.counter {
  height: 0px;
  color: #777777;
  position: relative;
  bottom: 40px;
  right: 10px;
  text-align: right;
}
